<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project 2!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/generalStyling.css">
  <link rel="stylesheet" href="/css/landingPage.css">
  <link rel="stylesheet" href="/css/theater.css">
</head>

<body>
    {{#unless isLandingPage}}
    <header>
      <h1>
        <a class="brand" href="/">Movie Next</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="btn btn-primary" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        <a href="/signup">signup</a>

        {{/if}}
      </nav>
    </header>
    {{/unless}}
      <!-- Render the sub layout -->
      {{{ body }}}

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src="/js/theatre.js"></script>
</body>

</html>