<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h2 class="header">Change Password</h2>
      <form class="form change-password">
        <div class="form-group">
          <label for="current-password">Current Password:</label>
          <input class="form-input" type="text" id="current-password" />
        </div>
        <div class="form-group">
          <label for="password-login">New Password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <label for="current-password">Verify New Password:</label>
          <input class="form-input" type="text" id="verify-password" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary gradient-border" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>



<script src="/js/changePassword.js"></script>