<h1>Trailer Goes Here</h1>
<div class="trailer-container">
 <iframe 
 id="movie-trailer"
 class="player"
 src="https://www.youtube.com/embed/EXeTwQWrcwY?autoplay=1&mute=1" 
 title="YouTube video player" 
 frameborder="0"
 allowfullscreen= "allowfullscreen" 
 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" >
 </iframe>

</div>

<div class="button-container">
    <button class="button" id="ignore-btn">Ignore</button>
    <button class="button" id="maybe-btn">Maybe</button>
    <button class="button" id="save-btn">Save</button>
</div>

<!-- Important: -->
<!--  NavBar  Logo Logout  Saved Pass and Maybes -->
<!-- Unique Log-In -->
<!--  Style Library if any  -->

<!-- Extras: -->
<!-- Light/DarkMode  -->
<!-- Theme Switching  -->