<section class="hero">
    <h1 class="brand">-MovieNext></h1>
    <div class="hero-text">
        <h2 class="hero-heading">Don't know what to watch?</h2>
        <p class="hero-description">Watch Trailers and choose your movie</p>
        <div class="btn-group">
            <a href="/signup" class="button signup-btn">Sign Up</a>
            <a href="/login" class="button login-btn">Log in</a>
        </div>
    </div>

</section>
<section class="trailer-show">
    <h2>Watch Trailers</h2>
    <div class="img-container">
        <img src="https://via.placeholder.com/300" alt="gif showing our theather page">
    </div>
</section>
<section class="saved-show">
    <h2>See al your movies in one place</h2>
    <div class="img-container">
        <img src="https://via.placeholder.com/300" alt="gif showing saved movies">
    </div>
</section>