<section class="hero">
    <h1 class="brand">-MovNext></h1>
    <div class="hero-text">
        <h2 class="hero-heading">Don't know what to watch?</h2>
        <p class="hero-description">Watch Trailers and choose your movie</p>
        <div class="btn-group">
            <a href="/signup" class="button signup-btn">Sign Up</a>
            <a href="/login" class="button login-btn">Log in</a>
        </div>
    </div>

</section>

<section class="trailer-show">
    <div class="section-text">
        <h2>Watch Trailers</h2>
        <p>You can view different trailers from our collection of movies. You can choose to save them to watch them
            later or you can pass if you don't want to see them again!</p>
    </div>
    <div class="img-container">
        <img src="/images/theater.gif" alt="gif showing our theather page">
    </div>
</section>
<section class="saved-show">
    <div class="section-text">
        <h2>See all your movies in one place</h2>
        <p>All your saved movies will be saved for you to see in your profile. You can also move them to your watched
            movies after you see them, or you can send them to your pass collection if you change your mind!</p>
    </div>
    <div class="img-container">
        <img src="/images/saved-movies.gif" alt="gif showing saved movies">
    </div>
</section>