<h1 class="header-flag">Movies</h1>

<div class="container container-posters">
    <div class="row row-posters">
        <div class="col col-poster">

            {{#each movies as |movie| }}
            <div class="grand-parent">
                <div class="div-poster gradient-border" movie-id={{movie_id}}>
                    <a href="/movies/{{title}}">
                        <img class="img-poster" src={{poster}} alt="movie poster" width="150" height="250">
                    </a>
                </div>
            </div>
            {{/each}}

        </div>
    </div>

</div>