<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>



    <a href="/saved">Saved</a>
    <a href="/maybe">Maybe</a>
    <a href="/pass">Pass</a>
    <a href="/change_password">Change Password</a>
    <a href="/change_email">Change Email</a>




  </div>
</div>