<div class="row">
  <div class="col-auto">
    <h2>Profile Page, {{first_name}} {{last_name}}!</h2>



    <a href="/profile/saved">Saved</a>
    <a href="/profile/maybe">Maybe</a>
    <a href="/profile/pass">Pass</a>
    <a href="/change_password">Change Password</a>
    <a href="/change_email">Change Email</a>




  </div>
</div>