<link rel="stylesheet" href="/css/profile.css">

<div class="container container-profile">
  <div class="row ">
    <h2 class="header">Hello, <span class="gradient-border">{{first_name}} {{last_name}}!</span></h2>

    <h3>Site Links</h3>
    <div class="row my-3">
      <div class="col div-buttons" id="global">
        <a class="btn btn-primary profile-btn gradient-border" href="/movies">All Movies</a>
      </div>
    </div>
    <h3>Collections</h3>
    <div class="row my-3">
      <div class="col div-buttons d-flex" id="personal">
        <a class="btn btn-primary profile-btn gradient-border" role="button" href="/profile/saved">Saved</a>
        <a class="btn btn-primary profile-btn gradient-border" role="button" href="/profile/seen">Seen</a>
        <a class="btn btn-primary profile-btn gradient-border" role="button" href="/profile/maybe">Maybe</a>
        <a class="btn btn-primary profile-btn gradient-border" role="button" href="/profile/pass">Pass</a>
      </div>
    </div>
    <h3>Account Settings</h3>
    <div class="row my-3">
      <div class="col div-buttons d-inline-flex" id="account">
        <a class="btn btn-primary profile-btn gradient-border" role="button" href="/change_password">Change Password</a>
        <a class="btn btn-primary profile-btn gradient-border" role="button" href="/change_email">Change Email</a>
      </div>
    </div>
  </div>
</div>
</div>