<div class="row">
  <div class="col-auto">
    <h2 class= "header">Profile Page, {{first_name}} {{last_name}}!</h2>

   
    <a class="btn btn-primary gradient-border" role="button" href="/profile/maybe">Maybe</a>
    <a class="btn btn-primary gradient-border" role="button"href="/profile/pass">Pass</a>
    <a class="btn btn-primary gradient-border" role="button"href="/profile/pass">Save</a>

    <a class="btn btn-primary gradient-border" role="button"href="/change_password">Change Password</a>
    <a class="btn btn-primary gradient-border" role="button"href="/change_email">Change Email</a>




  </div>
</div>