<div class="row">
  <div class="col-auto">
    <h2 class="header">Hello, {{first_name}} {{last_name}}!</h2>


    <a class="btn btn-primary gradient-border" href="/movies">All Movies</a>
    <br>
    <a class="btn btn-primary gradient-border" role="button" href="/profile/saved">Saved</a>
    <a class="btn btn-primary gradient-border" role="button" href="/profile/seen">Seen</a>
    <a class="btn btn-primary gradient-border" role="button" href="/profile/maybe">Maybe</a>
    <a class="btn btn-primary gradient-border" role="button" href="/profile/pass">Pass</a>
    <br>
    <a class="btn btn-primary gradient-border" role="button" href="/change_password">Change Password</a>
    <a class="btn btn-primary gradient-border" role="button" href="/change_email">Change Email</a>


  </div>
</div>