<div class="row">
  <div class="col-auto">
<<<<<<< HEAD
    <h2 class= "header">Profile Page, {{first_name}} {{last_name}}!</h2>
=======
    <h2 class="header">Profile Page, {{first_name}} {{last_name}}!</h2>
>>>>>>> f1b2913b5074f9786d2c96b54ab506806dbfc5ed

   
    <a class="btn btn-primary gradient-border" role="button" href="/profile/maybe">Maybe</a>
    <a class="btn btn-primary gradient-border" role="button"href="/profile/pass">Pass</a>
    <a class="btn btn-primary gradient-border" role="button"href="/profile/pass">Save</a>

    <a class="btn btn-primary gradient-border" role="button"href="/change_password">Change Password</a>
    <a class="btn btn-primary gradient-border" role="button"href="/change_email">Change Email</a>




  </div>
</div>