<h1>Saved Movies</h1>

{{#each movies as |movie| }}
<div class=" div-poster" id={{id}}>
    <a href="/movies/{{movie.movie.title}}">
        <img class="img-poster" src={{movie.movie.poster}} alt="movieposter" width="150">
    </a>
</div>

{{/each}}