<h1 class="header-flag">Seen</h1>

<div class="container container-posters">
    <div class="row row-posters">
        <div class="col col-poster">

            {{#each movies as |element| }}
            <div class="grand-parent"> 
                <div class="div-poster gradient-border" movie-id={{movie_id}}>
                    <div><i class="fas fa-times"></i></div>
                    <a href="/movies/{{element.movie.title}}">
                        <img class="img-poster" src={{element.movie.poster}} alt="movie poster" width="150" height="250">
                    </a>
                </div>
            </div>
            {{/each}}

        </div>
    </div>

</div>