{{!-- Converted too BootStrap --}}
<h2 class="header">Signup</h2>

<div class="container container-signup">
  <div class="col-md-3">
    <form class="form signup-form">
      <div class="form-group ">
        <label for="firstname-signup">First Name:</label>
        <input class="form-input" type="text" id="firstname-signup" />
      </div>
      <div class="form-group">
        <label for="lastname-signup">Last Name:</label>
        <input class="form-input" type="text" id="lastname-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary gradient-border" type="submit">SignUp</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>