{{!-- <h1 id="movie-name" class="movie-name">Movie name</h1> --}}
<div class="theater-container">
    <div class="trailer-container">
        <iframe id="movie-trailer" class="player" src=""
            title="YouTube video player" frameborder="0" allowfullscreen="allowfullscreen"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;">
        </iframe>

    </div>
    <div class="button-container">
        <button class="button gradient-border" id="ignore-btn">Pass</button>
        <button class="button gradient-border" id="maybe-btn">Maybe</button>
        <button class="button gradient-border" id="save-btn">Save</button>
    </div>
</div>
