/* Body Styling */
body {
    background-color: #1F201B;
}

.button {
    display: block;
    text-align: center;
    width: 7rem;
    padding: 0.5em 1em;
    background: #1F201B;
    opacity: 90%;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    border: none;
}

.brand {
    font-size: 72px;
    background: -webkit-linear-gradient(pink, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1.5rem 1rem;
}

.brand:hover {
    color: pink
}

a:hover {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}