h2, 
p {
    padding: 1rem;
}

section {
    /* height: 100vh; */
    /* Font color */
    color: #EAF8EA;
    position: relative;
    background: -webkit-linear-gradient(pink, purple);
    height: 1440px;
    width: 100%;
    margin: auto;
}


.hero {
    /* background-color: #1F201B; */
    background-image: url('../images/PosterBackground.png');
    background-blend-mode: multiply;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}

.hero-text {
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.hero-heading, 
.hero-description {
    text-align: center;
}

h2 {
    font-size: 2.75rem;
}
.hero-description {
    font-size: 1.75rem;
    text-align: center;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.signup-btn {
    background-color: #DD4B4B;
}

.saved-show h2,
.saved-show p {
    text-align: right;
    float: right;
}

.img-container {
    width: 80%;
    margin: 2rem auto;
}

img {
    display: block;
    max-width: 100%;
}

@media only screen and (max-width: 400px) {
    section {
        height: 80vh;
    }
    .hero {
        height: 100vh;
    }
    .trailer-show,
    .saved-show {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (min-width: 800px) {
    p {
        font-size: 1.2rem;
        width: 60%;
    }
    .hero-description {
        width: 100%;
    }
    .section-text {
        padding: 2rem;
    }

    /* .trailer-show {
        margin-bottom: 20rem;
    } */
}