.page-h1 {
    text-align: center;
    color:white;
    margin-bottom: 8rem;
    font-weight: bold;
}

.card {
    width: 75%; 
    margin:auto;
    border: none;
    background-color: #1F201B;
}

img {
    width: 100%;
}
.card-body {
    margin: auto;
    padding: auto;
    color: white;
    margin-top: 8rem;
}




